*.class
*.mymetadata
*.TXT
*.log
*.bak
*.classpath
.settings/
.checkstyle
classes/
*.project
.externalToolBuilders/
logs/
target/
.idea/
*.iml
.jupiter
/yyptweb/src/main/webapp/config/
rebel.xml
.vscode